p {
  margin: 0px;
  width: 500px;
}

li{
  margin: 0px;
  width: 700px;
}

.blue {
  color:blue;
}

.purple {
  color:purple;
}

/* edit all h1 elements */
h1{ 
  color: goldenrod;
}

.background {
  background-color: darkseagreen;
  border: 2px solid black;
}

.editor {
  width: 490px; 
  height: 400px;
}