p {
    margin: 0px;
}

.red {
    color:red;
}

.bl {
    display: block;
    color: blue;
}

.bl2 {
    display: block;
    color: red;
}

.sp {
    display: inline;
    color: white;
}

.sp2 {
    display: inline;
    color: gold;
}

.box { /* box class */
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid red;
}

.box2 { /* box2 class */
    width: 300px;
    height: 300px;
    background-color: blue;
    border: 1px solid green;
}

.box3 { /* box3 class */
    width: 300px;
    height: 300px;
    background-color: red;
    border: 1px solid blue;
}

@media (max-width: 600px){ /* once srceen width 600px or less make these changes to classes, IDs, elements, etc */
    .box2{
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 600px){ /* once srceen width 600px or more make these changes to classes, IDs, elements, etc */
    .box3{
        width: 200px;
        height: 200px;
    }
}

.displayInB {
    display: inline-block;
}

.displayIn {
    display: inline;
}

.imFloatL { /* float text left */
    float: left;
}

.classClearL { /* ignore things floating left */
    clear: left;
}